In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
data = pd.read_csv('BX-CSV-Dump\\BX-Books.csv',sep=';',encoding='latin-1',error_bad_lines=False)

D:\Users\SAleem\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
D:\Users\SAleem\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
data.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
data.isna().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [5]:
data.shape

(271360, 8)

In [6]:
for i in data.columns:
    print(i,data[i].duplicated().sum())

ISBN 0
Book-Title 29225
Book-Author 169336
Year-Of-Publication 271158
Publisher 254552
Image-URL-S 316
Image-URL-M 316
Image-URL-L 318

In [7]:
data.drop_duplicates(subset='Book-Title',inplace=True)
data.dropna(inplace=True)

In [8]:
sample = 20000

data2 = data.sample(n=sample,replace = False,random_state = 60)
data2 = data2.reset_index(drop=True)
data2.shape

(20000, 8)

In [9]:
data2.head(1)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0960951652,The free and Equal cookbook,Carole Kruppa,1985,Surrey Books,http://images.amazon.com/images/P/0960951652.0...,http://images.amazon.com/images/P/0960951652.0...,http://images.amazon.com/images/P/0960951652.0...

In [10]:
for i in data2.columns:
    data2[i] = data2[i].str.lower()

In [11]:
data2['Book-Author'] = data2['Book-Author'].str.replace(' ','')

In [12]:
data2.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [13]:
data3 = data2[['Book-Title','Book-Author','Publisher']]
data3.shape

(20000, 3)

In [14]:
data3.isna().sum()

Book-Title     0
Book-Author    0
Publisher      0
dtype: int64

In [15]:
data3['combined_data'] = data3['Book-Author']+str(' ')+data3['Book-Title']+str(' ')+data3['Publisher']
data3['combined_data'].head()

D:\Users\SAleem\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0    carolekruppa the free and equal cookbook surre...
1    konstantinos nocturnal witchcraft: magick afte...
2    brucetalkington disney's: winnie the pooh's - ...
3    alisonboteler what should i bring?: great gift...
4    williamrowan incident at roan high bluff infin...
Name: combined_data, dtype: object

In [16]:
vectorizer = CountVectorizer()
vect_data = vectorizer.fit_transform(data3['combined_data'])

In [17]:
for i in vect_data:
    print(i)
    break

  (0, 5886)	1
  (0, 33738)	1
  (0, 12933)	1
  (0, 2097)	1
  (0, 11354)	1
  (0, 7711)	1
  (0, 32949)	1
  (0, 4754)	1

In [18]:
similarities = cosine_similarity(vect_data)

In [19]:
similarities

array([[1.        , 0.        , 0.1118034 , ..., 0.        , 0.        ,
        0.09128709],
       [0.        , 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.1118034 , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.09128709, 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [20]:
similar_df = pd.DataFrame(similarities)
similar_df.columns = data3['Book-Title']
similar_df.index = data3['Book-Title']
similar_df.reset_index(inplace=True)
similar_df.head(5)

Book-Title,Book-Title,the free and equal cookbook,nocturnal witchcraft: magick after dark,disney's: winnie the pooh's - halloween,what should i bring?: great gifts for every occasion,incident at roan high bluff,italy,the beginnings of rome: italy and rome from the bronze age to the punic wars (c. 1000-264 bc) (routledge history of the ancient world),der seltene vogel.,"books on the move: a read-about-it, go-there guide to america's best family destinations",...,the xenophobe's guide to the chinese (xenophobe's guide),grover learns to read,bibliotherapy: the girl's guide to books for every phase of our lives,the count of monte cristo (modern library classics),das kollegenschwein.,unbridled,fearful majesty: the life and reign of ivan the terrible,querschã?â¼sse - downsize this!,bigger secrets: more than 125 things they prayed you'd never find out,"die letzten kinder von schewenborn (fiction, poetry and drama)"
0,the free and equal cookbook,1.000000,0.0,0.111803,0.0,0.0,0.158114,0.266501,0.0,0.243332,...,0.257248,0.117851,0.171499,0.091287,0.0,0.0,0.265165,0.0,0.0,0.091287
1,nocturnal witchcraft: magick after dark,0.000000,1.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000
2,disney's: winnie the pooh's - halloween,0.111803,0.0,1.000000,0.0,0.0,0.000000,0.190693,0.0,0.072548,...,0.153393,0.000000,0.076696,0.081650,0.0,0.0,0.158114,0.0,0.0,0.000000
3,what should i bring?: great gifts for every oc...,0.000000,0.0,0.000000,1.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.134535,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000
4,incident at roan high bluff,0.000000,0.0,0.000000,0.0,1.0,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.080845,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000

In [38]:
input_book = 'yoga for wimps: poses for the flexibly impaired'

In [39]:
book_recommendation = pd.DataFrame(similar_df.nlargest(6,input_book)['Book-Title']).reset_index(drop=True)
book_recommendation = book_recommendation[book_recommendation['Book-Title']!=input_book]
book_recommendation

                                          Book-Title
1                internet for windows 98 for dummies
2  compassion for all creatures: an inspirational...
3      access 97 programming for windows for dummies
4                             managing for dummiesâ®
5                            the quest for character